body { 
    margin: 0; 
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

#dot {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.laptop{
    position: fixed;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
    background-color: rgb(18, 137, 153);
}

.home{
    width:40px;
}

.home:hover{
    cursor: pointer;
}

.folder{
    margin-left: 1%;
    margin-right: 1%;
    padding:1%;
}

.textIcon{
    width: 120%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "Comic Sans MS";
}

.textFolder{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "Comic Sans MS";
}

.folder:hover{
    cursor: pointer;
}

.openedFolder{
    border-radius: 10px;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgb(231, 221, 188);
    box-shadow: 3px 2px 5px black;
}

.barFolder{
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%;
    background-color: rgb(137, 139, 96);
}

.exitFolder{
    margin:0.2%;
}

.exitFolder:hover{
    cursor:pointer;
}

.windowHack{
    position: absolute;
    height: 40%;
    width: 40%;
    top: 30%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 2px 5px black;
}

.iconHack{
    margin-left: 10px;
    position: fixed;
}

.progressBar{
    position: fixed;
    height: 20px;
    width: 26%;
    margin-left: 65px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
}

.progress{
    position: absolute;
    height: 100%;
    width:0%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

.title{
    position: fixed;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    left:38%;
    top:30%;
    margin:auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoButton{
    position: fixed;
    left:2%;
    margin-top: -63px;
    width: 80px;
    background-color: rgb(212, 255, 168);
    font-size:large;
    text-align: center;
    box-shadow: 2px 1px 3px black;
}

.login{
    margin-top: 20%;
    margin-left: 21%;
    margin-right: 27%;
    margin-bottom: 19%;
    text-align: center;
}

.inputSelect{
    width: 68%;
    padding: 5%;
    margin-top: 3%;
    border-radius: 10px;
    font-size: 15px;
}

.wrong{
    border-color: red;
    border-width: 3px;
}

.sendButton{
    background-color: rgb(102, 187, 183);
    border-radius: 50%;
    margin: 2%;
    padding: 2%;
    width: -1%;
    position: absolute;
}

.sendButton:hover{
    cursor: pointer;
}

.folderImg{
    margin-left: 20px;
    margin-right: 20px;
}

.buttonHomeLogin{
    position: absolute;
    top:0;
}

.coffreBackground{
    position:fixed;
    width:350px;
    height:350px;
    top: 50%;
    left: 50%;
    margin-top: -175px; /* Negative half of height. */
    margin-left: -175px; /* Negative half of width. */
    background-color: grey;
    border: solid 2px rgb(82, 82, 82);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.entryCode{
    background-color: rgb(58, 58, 58);
    box-shadow: 1px 1px 2px black;
}

.textCode{
    font-size:80px;
    margin-top:-23px;
    margin-left:-10px;
    color: rgb(1, 202, 1);
}

.buttonCoffre{
    width:50px;
    height:50px;
    background-color: rgb(92, 92, 92);
    box-shadow: 1px 1px 2px black;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.textCoffre{
    text-align: center;
    font-size:30px;
}