body { 
    margin: 0; 
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

#dot {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.laptop{
    position: absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
    background-color: rgb(18, 137, 153);
}

.navbar{
    position: absolute;
    height: 5%;
    width: 100%;
    top:95%;
    background-color: rgb(186, 224, 229);
}

.home{
    position:absolute;
}

.home:hover{
    cursor: pointer;
}

.folder{
    position: absolute;
    margin: 3%;
}

.textIcon{
    text-align: center;
    margin-top: -5%;
    font-family: "Comic Sans MS";
}

.folder:hover{
    cursor: pointer;
}

.openedFolder{
    border-radius: 10px;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgb(231, 221, 188);
    box-shadow: 3px 2px 5px black;
}

.barFolder{
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5%;
    width: 100%;
    top: 0%;
    background-color: rgb(137, 139, 96);
}

.exitFolder{
    margin:0.2%;
}

.exitFolder:hover{
    cursor:pointer;
}

.windowHack{
    position: absolute;
    height: 40%;
    width: 40%;
    top: 30%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 2px 5px black;
}

.iconHack{
    position: absolute;
    top:35%;
    left: 3%;
}

.progressBar{
    position: absolute;
    height: 10%;
    width: 75%;
    left: 20%;
    top: 42%;
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
}
.progress{
    position: absolute;
    height: 100%;
    width:0%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

.title{
    position: absolute;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    left:38%;
    top:30%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoButton{
    position: absolute;
    height: 60%;
    width:5%;
    left:2%;
    top:-56%;
    background-color: rgb(212, 255, 168);

}

.login{
    margin-top: 20%;
    margin-left: 21%;
    margin-right: 27%;
    text-align: center;
}

.inputSelect{
    width: 68%;
    padding: 5%;
    margin-top: 3%;
    border-radius: 10px;
    font-size: 15px;
}
.wrong{
    border-color: red;
    border-width: 3px;
}

.sendButton{
    background-color: rgb(102, 187, 183);
    border-radius: 50%;
    margin: 2%;
    padding: 2%;
    width: -1%;
    position: absolute;
}

.sendButton:hover{
    cursor: pointer;
}
