body { 
    margin: 0; 
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

#dot {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.laptop{
    position: fixed;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
    background-color: rgb(18, 137, 153);
}

.home{
    width:40px;
}

.card-img-left{
    height: 3vmax;
    width: 3vmax;
}

.home:hover{
    cursor: pointer;
}

.folder{
    margin-left: 1%;
    margin-right: 1%;
    padding:1%;
}

.textIcon{
    margin: auto;
    text-align: center;
    font-size: 2vmin;
    font-weight: 400;
    font-family: "Comic Sans MS";
}

.textFolder{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "Comic Sans MS";
}

.folder:hover{
    cursor: pointer;
}

.openedFolder{
    border-radius: 10px;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgb(231, 221, 188);
    box-shadow: 3px 2px 5px black;
}

.barFolder{
    height: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(137, 139, 96);
}

.exitFolder{
    margin:0.2%;
}

.exitFolder:hover{
    cursor:pointer;
}

.windowHack{
    height: 20vmax;
    width: 40vmax;
    top: 30%;
    left: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 2px 5px black;
}

.iconHack{
    margin-left: 10vmin;
}

.progressBar{
    height: 20px;
    width: 25vmax;
    margin-left: 35px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
}

.progress{
    height: 100%;
    width:0%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

.title{
    position: fixed;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15vmin;
    left:38%;
    top:30%;
    margin:auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoButton{
    position: fixed;
    left:2%;
    margin-top: -63px;
    width: 80px;
    background-color: rgb(212, 255, 168);
    font-size:large;
    text-align: center;
    box-shadow: 2px 1px 3px black;
}

.login{
    margin-top: 20%;
    margin-left: 21%;
    margin-right: 27%;
    margin-bottom: 19%;
    text-align: center;
}

.inputSelect{
    width: 68%;
    padding: 5%;
    margin-top: 3%;
    border-radius: 10px;
    font-size: 15px;
}

.wrong{
    border-color: red;
    border-width: 3px;
}

.sendButton{
    background-color: rgb(102, 187, 183);
    border-radius: 50%;
    margin: 2%;
    padding: 2%;
    width: -1%;
    position: absolute;
}

.sendButton:hover{
    cursor: pointer;
}

.folderImg{
    margin: auto;
    height: 15vh;
    width: 15vh;
}

.buttonHomeLogin{
    position: absolute;
    top:0;
}

.coffreBackground{
    position:fixed;
    width:350px;
    height:350px;
    top: 50%;
    left: 50%;
    margin-top: -175px; /* Negative half of height. */
    margin-left: -175px; /* Negative half of width. */
    background-color: grey;
    border: solid 2px rgb(82, 82, 82);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.entryCode{
    background-color: rgb(58, 58, 58);
    box-shadow: 1px 1px 2px black;
}

.textCode{
    font-size:80px;
    margin-top:-23px;
    margin-left:-10px;
    color: rgb(1, 202, 1);
}

.buttonCoffre{
    width:50px;
    height:50px;
    background-color: rgb(92, 92, 92);
    box-shadow: 1px 1px 2px black;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.textCoffre{
    text-align: center;
    font-size:30px;
}

.startGame{
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgb(24, 24, 24);
}

.informations{
    margin-top: 50vmin;
    text-align: center; 
    transform: translateY(-50%);
}

.informationText{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(155, 155, 155);
}

.loadingGame{
    margin: auto;
    width: 600px;
    height: 30px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}

.loadingGameBar{
    width: 0%;
    height: 100%;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
}

.startScreen{
    opacity: 0;
    margin-top: 50vh;
    transform: translateY(-50%)
}

.playButton{
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 1px rgb(75, 75, 75);
    border-radius: 5px;
    cursor: pointer;
}

.bottomInfo{
    position:absolute;
    bottom: 0;
    text-align: center;
    margin-right: 50vh;
    transform: translateX(-50%)
}

#messageBox{
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.46);
    right: 0;
    padding: 10px;
    opacity: 0;
}

.message{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 221, 221);
}

.hint{
    color: rgb(238, 255, 90);
}

.player{
    color: rgb(208, 25, 25);
}

#endGame{
    position:fixed;
    text-align: center;
    margin-top: 50vmax;
    transform: translateY(-50%);
    width:100vmax;
    height:100vmax;
    background-color: rgb(24, 24, 24);
}
canvas{
    position: fixed;
    z-index: -5;
    display: block;
}

.text{
    margin-top: 10vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vmin;
    font-weight: 400;
    font-family: "Comic Sans MS";
}

.strong{
    font-weight: 800;
}